# Copyright (c) 2026 Angela Villota, and collaborators from the CyED block
# Licensed under the PolyForm Noncommercial License 1.0.0.
# Commercial use is prohibited without prior written authorization.

ipykernel
jupyter-book==2.1.6
jupyterlab
jupyterlab-myst
jupyter-server
matplotlib
networkx
numpy
pandas
pyformlang
pydot
scipy
seaborn
sympy
xlrd
# Copyright (c) 2026 Angela Villota, and collaborators from the CyED block
# Licensed under the PolyForm Noncommercial License 1.0.0.
# Commercial use is prohibited without prior written authorization.
